{% extends 'base.html' %}

{% block content %}
<div class="has-text-centered">
  <h1 class="title is-size-1">Random Article</h1>
</div>
<br>
<div class = "article-container">
    <div class = "column article is-flex is-justify-content-center">
        <p>{{article}}</p>
    </div>
    <div class = "column article is-flex is-justify-content-center">
        <p>{{validity}}</p>
    </div>
    <div class = "column article is-flex is-justify-content-center">
        <a class = "button is-size-3" href="/randomArticle">New Article</a>
    </div>
</div>
{% endblock %}